*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background: #606161;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

:focus {
	outline: none;
}

a {
	text-decoration: none;
    padding: 0.2rem 0.6rem;
	border: none;
	border-radius: 4px;
	font-size: 0.87rem;
	background: #0676ff;
	color: white;
	margin-top: 1.5rem;
    margin-left: 0.5rem;
}

p:has(a) {
	margin-top: 1rem;
	font-size: 0.875rem;
	text-align: center;
}

.redirect {
	width: 100%;
}

.container {
	width: 93%;
	margin: auto;
	padding: 2rem 1rem;
	background-color: white;
	border-radius: 8px;
}

.form-heading {
	font-size: 1.4rem;
	text-align: center;
	line-height: 1.1;
	margin-bottom: 1.2rem;
}

label {
	font-size: 0.875rem;
}

.form-input:not(:has(input[type="color"])) {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.8rem;
}

.form-input input,
select {
	padding: 0.5rem;
	border: 1px solid black;
	border-radius: 4px;
	font-size: 1rem;
	outline: none;
}

select,
[type="date"] {
	padding: 0.3rem;
	width: 60%;
}

.form-input:has(input[type="color"]) {
	display: flex;
	align-items: center;
}

input[type="color"] {
	width: 45%;
	padding: 0.2rem !important;
}

[type="date"]::-webkit-calendar-picker-indicator {
	background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50%
		no-repeat;
}

[type="submit"] {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 4px;
	font-size: 1rem;
	background: #0676ff;
	color: white;
	width: 100%;
	margin-top: 1.5rem;
}

::placeholder {
	font-size: 0.75rem;
}

@media (min-width: 768px) {
	.container {
		width: 70%;
		padding: 2rem;
	}

	.form-heading {
		font-size: 2rem;
	}
	form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	.submit {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1.5rem;
		width: 100%;
	}

	#submit {
		width: 55%;
		margin: 0;
	}

	input[type="color"] {
		width: 100%;
	}

	select,
	[type="date"] {
		padding: 0.3rem;
		width: 100%;
	}

	.form-input:has(select) {
		width: 45%;
	}
	.form-input:has([type="date"], input[type="color"]) {
		width: 45%;
	}
	.form-input:has(input[type="color"]) {
		display: flex;
		flex-direction: column;
		align-items: start;
		position: relative;
	}
	.form-input img {
		position: absolute;
		top: 6%;
		right: 28%;
	}
}

@media (min-width: 992px) {
	.container {
		width: 50%;
	}

	.form-input {
		width: 45%;
	}

	.form-input:has(select) {
		width: 45%;
	}
	.form-input:has([type="date"], input[type="color"]) {
		width: 45%;
	}

	select,
	[type="date"] {
		padding: 0.3rem;
		width: 80%;
	}
	/* #submit {
		width: 50%;
		margin: 0;
	}

	input[type="color"] {
	width: 20%;
} */
}

@media (min-width: 1440px) {
	.container {
		width: 40%;
	}

	/* #submit {
		width: 40%;
		margin: 0;
	}

	input[type="color"] {
	width: 15%;
} */
}
