*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	background: #606161;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

:focus {
	outline: none;
}

a {
	text-decoration: none;
	padding: 0.3rem 0.6rem;
	border: none;
	border-radius: 4px;
	font-size: 0.87rem;
	background: #0676ff;
	color: white;
	margin-top: 1.5rem;
	margin-left: 0.5rem;
}

p {
	font-size: 0.875rem;
	text-align: center;
	margin-bottom: 0.8rem;
}

.redirect {
	width: 100%;
	text-align: center;
	margin-top: 1.5rem;
}

.container {
	width: 90%;
	margin: auto;
	padding: 2rem 1rem;
	background-color: white;
	border-radius: 8px;
}

h2 {
	text-align: center;
	margin-bottom: 2rem;
}

img {
	width: 50%;
	position: relative;
	left: 20%;
}

@media (min-width: 768px) {
	.container {
		width: 50%;
	}

    img {
        width: 48%;
    }

    p, a {
        font-size: 1rem;
    }

    h2 {
        font-size: 1.7rem;
    }
}

@media (min-width: 992px) {
	.container {
        width: 40%;
	}
}

@media (min-width: 1440px) {
    .container {
        width: 35%;
	}
    h2 {
        font-size: 2.2rem;
    }}
